
/*Homepage*/
.frontPage{
    background: #2e383f;
    max-width:80%;
    margin-left: auto;
    margin-right: auto;
}


.work{
    height:auto;
    width: 40%;
    float: right;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #f9a828;
}

#img1{
    border: outset medium #f9a828;
    width: 80%;
    height: auto;
    margin-left: 8%;
    padding: 0;

}

/*Navigation*/
nav ul{
    padding:0.5em;
    display: flex;
    flex-direction:column;
    }

nav ul li{
    list-style-type: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: #ececeb;
    }

a {
    color:#ececeb;
    text-decoration: none;
    }
a:hover{
    color: #07617d;
    }

nav ul li a:hover{
    color: #07617d;
    }
.btn {
  background-color: #f9a828;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 7px 30px;
  text-align: center;
  font-size: 16px;
  margin: 10px 25px;
  opacity: 0.6;
  transition: 0.3s;
  }

.btn:hover {opacity: 1}

/*Headings*/
.firstHeading{
    color: #f9a828;
    text-align: center;
    font-family: 'rockwell';
    }
.secondHeading{
    color: #f9a828;
    text-align: center;
    font-family: 'rockwell';
    margin-right: auto;
    margin-left: auto;
    }
/*Class for images*/
#tinyPicture{
   height: 4em;
   width: 4em;
   float:left;
   border-radius: 10em;
   display:flex;
   justify-content: flex-start;
   }



/*Class for Clickable Cards*/

.card{
    width: 80%;
    padding:5px;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    font-family: "rockwell";
    color: #ececeb;
    word-wrap: break-word;
    }

.card1{
    width: 80%;
    height: auto;
    padding: 5px;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-family: "rockwell";
    color: #ececeb;
    word-wrap: break-word;
    }




/*CardContainer*/
.cardContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding:10px;
    float:left;
    line-height: 2em;
    }

/*Top Divider*/
.topDivider{
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-top-color: #f9a828;
    }

.topDivider1{
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: auto;
    margin-right: auto;
    border-top-color: #f9a828;
    padding: 2em;
    }

/*paragraphs*/
.myText{
    font-size: 3em;
    font-family: 'rockwell';
    padding: 1.5%;
    text-align: center;
    }

.myText1{
    font-size: 1.3em;
    font-family: 'rockwell';
    color: #ececeb;
    line-height: 1.5em;
    width: 45%;
    margin: 10px;
    padding: 10px;
    text-indent: 10px;
    word-wrap: break-word;
    }
.myText2{
    font-size: 1.5em;
    font-family: 'rockwell';
    color: #ececeb;
    line-height: 2em;
    text-indent: 50px;
    margin-right:auto;
    margin-left:auto;
    word-wrap: break-word;
}

/*Footer*/
.bottom{
    font-family: 'rockwell';
    color: #ececeb;
    text-align: center;
    margin-top: 10em;
    display:block;
    margin: 5 auto;
    line-height: 1em;
    clear: both;
    }

/*Mobile First*/
/*small screens*/
@media all and (min-width:1000px){
    nav ul{
        flex-direction: row;
        justify-content: space-around;
        }
}

/*BIG SCREENS*/
@media all and (min-width:1600px){
    nav ul{
        flex-direction: row;
        justify-content: flex-end;
    }
}

/*TOOLTIP*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}