
/*Homepage*/
.frontPage{
    max-width: 1280px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(#e1b382, #c89666);
}



.work{
    height:250px;
    width: 300px;
    float: right;
    border-radius: 10px;
    margin: 1em;
}



/*Navigation*/
nav ul{
    padding:0.5em;
    display: flex;
    flex-direction:column;
    }

nav ul li{
    list-style-type: none;
    margin-left: 0.5em;
    margin-right: 0.5em;

    }



a {
    color: white;
    text-decoration: none;
    }
a:hover{
    color: #171717;
    }

nav ul li a:hover{
    color: #171717;
    }
.btn {
  background-color: #e1b382;
  border: none;
  border-radius: 20px;
  color: black;
  padding: 7px 30px;
  text-align: center;
  font-size: 16px;
  margin: 10px 25px;
  opacity: 0.8;
  transition: 0.3s;
  }

.btn:hover {
        opacity: 0.9;


}


/*Headings*/
.firstHeading{
    color: #ececeb;
    text-align: center;
    font-family: 'rockwell';

    }
.secondHeading{
    color: #c89666;
    text-align: center;
    font-family: 'rockwell';
    margin-right: auto;
    margin-left: auto;
    }

.head{
    letter-spacing: 1px;
}



/*Class for Clickable Cards*/

.card{
    width: 80%;
    padding:5px;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    font-family: "rockwell";
    color: #c89666;
    word-wrap: break-word;
    }

.card1{
    width: 80%;
    height: auto;
    padding: 5px;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-family: "rockwell";
    word-wrap: break-word;
    }




/*CardContainer*/
.cardContainer{
    margin: 150px auto;
    width: 50%;
    padding: 8px;
    }

/*Top Divider*/
.topDivider{
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-top-color: #ececeb;
    box-shadow: 1px 1px 1px #666;
    }

.topDivider1{
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: auto;
    margin-right: auto;
    border-top-color: #ececeb;
    box-shadow: 1px 1px 1px #666;

    }

/*paragraphs*/
.myText{
    color: #171717;
    font-size: 3em;
    font-family: 'rockwell';
    padding: 1.5%;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    }

.myText1{
    font-size: 1.3em;
    font-family: 'rockwell';
    color: #171717;
    line-height: 1.5em;
    text-indent: 10px;
    text-align: justify;
    word-wrap: break-word;
    padding-right: 1em;

    }
.myText2{
    font-size: 1.5em;
    font-family: 'rockwell';
    color: #171717;
    line-height: 2em;
    text-indent: 50px;
    margin-right:auto;
    margin-left:auto;
    word-wrap: break-word;
}

.img1{

    width: 100%;
    height: 100%;
}

/*Footer*/
.bottom{
    font-family: 'rockwell';
    color: #2e383f;
    text-align: center;
    margin-top: 10em;
    display:block;
    margin: 5 auto;
    line-height: 1em;
    clear: both;
    }

/*Mobile First*/
/*small screens*/
@media all and (min-width:1000px){
    nav ul{
        flex-direction: row;
        justify-content: space-around;
        }
    .navigate{
           display: inline;
    }
}

/*BIG SCREENS*/
@media all and (min-width:1600px){
    nav ul{
        flex-direction: row;
        justify-content: flex-end;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

@media (prefers-color-scheme: dark) {
  .frontPage {
    color: #ececeb;
    background: radial-gradient(#282c35, #171717);
  }

  .myText{
    color: white;
  }

  .myText1{
    color:white;
  }
  .myText2{
    color: white;
  }

  a {
    color: white;
  }


nav ul li a{
    color: white;
}

.btn{
    background-color: #c89666;
    opacity: 0.5;
}

.firstHeading{
    color:#c89666;
}

}